{% include "layouts/header" %}
    <div id="app">
        <my-menu></my-menu>
        <div class="container">
            <router-view></router-view>
        </div>
        <my-footer></my-footer>
    </div>
{% include "layouts.footer" %}